@import '../styles/App.scss';
@import '../styles/Card.scss';
@import '../styles/CardContainer.scss';
@import '../styles/Controls.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
