.card, .compared-card {
  font-size: 16px;
  width: 250px;
  border: 4px solid #BD1236;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  background-color: #FDD345;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

.card-border {
  border: 6px solid green;
}

.compared-card{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.compared-card h4 {
  font-size: 14px;
}

li {
  list-style: none;
}

.top-half{
  font-weight: bold;
  color: #032966;
}

.bottom-half{
  color: #BD1236;
}

h5{
  margin: 0px;
}
